@font-face {
  font-family: "MinionPro";
  src: url("../fonts/minionpro-regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "KudryWeirdHeadline";
  src: url("../fonts/kudry_weird-headline.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
button {
  border: none;
  cursor: pointer;
}
.page {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0;
  font-family: "KudryWeirdHeadline", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}
.header {
  width: 100%;
  height: 84px;
  display: flex;
  background: #ffe5ed;
}
.header__wrapper {
  margin: auto 56px auto auto;
}
.header__nav {
  display: flex;
  align-items: center;
  gap: 45px;
}
.header__link {
  font-family: "MinionPro", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #000;
}
/*---hero---*/
.hero {
  width: 100%;
}
.hero__wrapper {
  padding: 78px 71px 95px 71px;
  box-sizing: border-box;
  display: flex;
  gap: 46px;
}
.hero__image {
  width: 437px;
  height: 514px;
  border-radius: 10px;
}
.hero__text {
  max-width: 713px;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 84px;
  margin-top: 15px;
}
.hero__title {
  font-weight: 300;
  font-size: 64px;
  line-height: 82.88px;
  color: #000;
}
.hero__subtitle {
  font-family: "MinionPro", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 43.2px;
  color: #000;
}
/*---about---*/
.about {
  width: 100%;
  background: #ffe5ed;
}
.about__wrapper {
  width: 100%;
  padding: 56px 58px 67px 53px;
  box-sizing: border-box;
  display: flex;
  gap: 33px;
}
.about__left {
  width: 652px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.about__left-top {
  width: 100%;
  height: 295px;
  border: 5px solid #ffffff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 18px 56px 11px 22px;
}
.about__title {
  font-weight: 300;
  font-size: 64px;
  line-height: 82.88px;
  color: #000;
}
.about__subtitle {
  font-family: "MinionPro", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 28.8px;
  color: #000;
}
.about__left-bottom {
  width: 100%;
  height: 332px;
  border: 5px solid #ffffff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 18px;
  padding: 27px 23px 11px 22px;
}
.about__subtitle span {
  font-family: "KudryWeirdHeadline", sans-serif;
  font-weight: 300;
  font-size: 24px;
  line-height: 31.08px;
  color: #000;
  margin-right: 24px;
}
.about__right {
  width: 569px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.about__right-top {
  width: 100%;
  height: 429px;
  border: 5px solid #ffffff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 18px 23px 11px 53px;
}
.about__right-bottom {
  width: 100%;
  height: 197px;
  border: 5px solid #ffffff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 15px 23px 11px 34px;
}
.about__links {
  display: flex;
  align-items: center;
  gap: 5px;
  font-family: "MinionPro", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 28.8px;
  color: #000;
}
.about__links a {
  color: #000;
  transition: all 0.3s ease-out;
}
.about__links a:hover {
  opacity: 0.5;
}
/*---works---*/
.works {
  width: 100%;
}
.works__wrapper {
  padding: 86px 64px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
.works__title {
  font-weight: 300;
  font-size: 64px;
  line-height: 82.88px;
  color: #000;
}
/*---task---*/
.task {
  width: 100%;
}
.task__wrapper {
  padding: 92px 85px;
  box-sizing: border-box;
  display: flex;
}
.task__text {
  max-width: 464px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 43px;
}
.task__title {
  font-weight: 300;
  font-size: 64px;
  line-height: 82.88px;
  color: #000;
}
.task__subtitle {
  font-family: "MinionPro", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 28.8px;
  color: #000;
}
